{% extends 'header.html' %}

{% block content %}

<h1 style="text-align: center;">About</h1>
<br>
<p>

    The concept of Open Studios came from a yearly event in New York where artists of all kinds opened their per sonal studios for all to enjoy, experience and witness. With this sense of community, comradery and support there was  no need to navigate politics and contracts of a gallery or museum for an artist to be showcased. Inspirit of this move ment, Open Studios has gone digital ! Llukkah, Lee Harvey, Christopher Linton and Jason Rolle is taking this opportu nity to give artists found in all corners and crevices of the world a platform to have a voice and their vision a chance to  be seen. This is the ideal platform for the artist that you haven't heard of... yet. 
Through the Open Studios app, artists will be able to view available exhibits to attend, create, edit and delete  exhibits of their own. 

</p>
<center>
<div>

<img style="user-select: none; margin: auto; background-color: rgb(230, 230, 230); transition: background-color 300ms ease 0s; --darkreader-inline-bgcolor:#26292b;" src="https://media-exp1.licdn.com/dms/image/C4D03AQGHaBboyYGimw/profile-displayphoto-shrink_400_400/0/1584884602521?e=1644451200&amp;v=beta&amp;t=I7vUXWYCww7TNmeC5wEZD5muY6_ziT5PQx3yIRojUdk" data-darkreader-inline-bgcolor="">
<br>
<a href='https://www.github.com/llukkah' style="text-align:center;">Llukkah Github</a>
<br>
<a href='https://www.linkedin.com/in/llukkahrey?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BPVPIS6RuS1mFA2Oz%2BiCvTA%3D%3D'>Lukkah Linkedin</a>

</div>


<div>

<img style="user-select: none; margin: auto; background-color: rgb(230, 230, 230); transition: background-color 300ms ease 0s; --darkreader-inline-bgcolor:#26292b;" src="https://media-exp1.licdn.com/dms/image/C4E03AQEbIoIq9K27Dg/profile-displayphoto-shrink_400_400/0/1632090329888?e=1644451200&amp;v=beta&amp;t=EI_Ce1I2gvUZHxtR6yKA9JtJMkhspRz8RXiDA1E1vs0" data-darkreader-inline-bgcolor="">
<br>
<a href='https://github.com/Kwyjib0' style="text-align:center;">Christopher GitHub</a>
<br>
<a href='https://www.linkedin.com/in/christopher-linton1?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B90XwWnipSSGg%2Bj1Y%2BC%2BfEw%3D%3D'>Chris Linkedin</a>



</div>


<div>


<img width="200" title="Lee Harvey" src="https://media-exp1.licdn.com/dms/image/C4E03AQGknKGtQD-l9w/profile-displayphoto-shrink_400_400/0/1632158975021?e=1644451200&amp;v=beta&amp;t=ysApjWc3D2g8awRd6km4hWkH9GVS3sMfX4JKey4yJpA" height="200" alt="Lee Harvey" id="ember45" class="pv-top-card-profile-picture__image pv-top-card-profile-picture__image--show ember-view">
<br>
<a href='https://github.com/VirtDev337' style="text-align:center;">Lee GitHub</a>
<br>
<a href='https://www.linkedin.com/in/lee-harvey-jr?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BIvwSNWutSqaVtbFzP0%2BtHg%3D%3D'>Lee Linkedin</a>


</div>



<div>


<img width="200" src="https://media-exp1.licdn.com/dms/image/C4E03AQH2KdQqbQ6Q0Q/profile-displayphoto-shrink_400_400/0/1632159123655?e=1644451200&amp;v=beta&amp;t=gLqPy7lUNGXZhlXx5kjeGCBHWNP7pRIGNh9PCAZxWEA" height="200" alt="Jason Rolle" id="ember48" class="ember-view profile-photo-edit__preview">
<br>
<a href='https://github.com/JasonRolle1990' style="text-align:center;">Jason GitHub</a>
<br>
<a href='https://www.linkedin.com/in/jasonrolle1990?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bculc7Op7S3esL9F80ZfMhw%3D%3D'>Jason Linkedin</a>

</div>

</center>



<h3>Jtc description</h3>

<p>
Justice Through Code, a semester-long coding and interpersonal skills intensive that takes place at Columbia University, aims to provide alternative paths for people once they reenter society.

Throughout the semester, students learn the fundamentals of Python and other computer science basics. They also receive career coaching, public speaking training, and learn negotiation skills and how to write a resume. Once students complete the program, Justice Through Code, which held its first cohort last year with just over 30 students, puts them in touch with its partners for paid internships and jobs.
Justice Through Code works with a handful of tech partners to support its program and its students. Amazon Web Services, for example, provides laptops to students who need them while technologists from Google, Slack and Coursera speak to students on their experiences in tech.
People who have spent time in jail or prison often face barriers to accessing stable jobs, housing and financial services. These types of barriers are a key driver of recidivism for the more than 600,000 people who are released from prison each year. Between 2005 and 2014, an estimated 68% of people released in 2005 were arrested again within three years. Within nine years, 83% of those released in 2005 were rearrested, according to the U.S. Department of Justice’s Bureau of Justice Statistics.

</p>

{% endblock %}