{% extends 'header.html' %}
{% load static %}
{% block content %}
<h1 style="text-align: center;">About</h1>
<br><p>The concept of Open Studios came from a yearly event in New York where artists of all kinds opened their per-
    sonal studios for all to enjoy, experience and witness. With this sense of community, comradery and support there was
    no need to navigate politics and contracts of a gallery or museum for an artist to be showcased. Inspirit of this move-
    ment, Open Studios has gone digital ! Llukkah, Lee Harvey, Christopher Linton and Jason Rolle is taking this opportunity to give artists found in all corners and crevices of the world a platform to have a voice and their vision a chance to
    be seen. This is the ideal platform for the artist that you haven't heard of... yet.</p>
{% endblock %}