{% extends 'header.html' %}
{% block extrastyle %}
<style>
    h1{
        color: #0000ff;
    }
    span{
        color:#808080 !important;
    }
    label{
        color: #808080 !important;
    }
    .fields{
        diplay: block; 
        margin-right: auto; 
        margin-left: auto;
    }
    .name{
        margin-left: -20px; 
        padding-right: 4px;
    }
    .url{
        padding-left: 4px; 
        padding-right: 8px;
    }
    .urlp{
        margin-bottom: .2rem;
    }
    .featured{
        display: block; 
        margin-left: 8rem; 
        margin-top: 0rem; 
        margin-bottom: 2rem; 
        padding-left: 4px; 
        padding-right: 8px;
    }
</style>
{% endblock %}
{% block content %}
    {% if action == 'create' %}
        <form action="{% url 'createImage' %}" method="POST">
    {% elif action == 'upcoming' %}   
        <form action="{% url 'addImage' %}" method="POST">
    {% elif action == 'edit' %}   
        <form action="{% url 'creatEImage' image.image_id %}" method="POST">
    {% elif action == 'change' %}   
        <form action="{% url 'editImage' image.image_id %}" method="POST">
    {% endif %}

    {% csrf_token %} 

    <center>
        <div class="fields">
            <p><label class="name">{{ form.name.name|title }}:</label><span>{{ form.name.as_widget }}</span></p>
            <p class="urlp"><label class="url">{{ form.url.name|title }}:</label><span>{{ form.url.as_widget }}</span></p>
            <label class="featured">{{ form.featured.name|title }}: {{ form.featured.as_widget }}</label>
        </div>
        
        
        {% if action == 'create' %}
                <input type="submit" name="create" value="Create" />
            </form>
        {% elif action == 'upcoming' %}
                <input type="submit" name="create" value="Create" />
            </form>
        {% elif action == 'edit' %}
                <input type="submit" name="save" value="Save" />
                <input type="submit" name="delete" value="Delete" />
            </form>
        {% elif action == 'change' %} 
                <input type="submit" name="save" value="Save" />
                <input type="submit" name="delete" value="Delete" />
            </form>
        {% endif %}
    </center>
{% endblock %}