{% extends 'header.html' %}
{% block extrastyle %}
<style>
</style>
{% endblock %}
{% block content %}
    {% if action == 'create' %}
        <form action="{% url 'createImage' %}" method="POST">
    {% elif action == 'upcoming' %}   
        <form action="{% url 'addImage' %}" method="POST">
    {% elif action == 'edit' %}   
        <form action="{% url 'creatEImage' image.image_id %}" method="POST">
    {% elif action == 'change' %}   
        <form action="{% url 'editImage' image.image_id %}" method="POST">
    {% endif %}

    {% csrf_token %} 
    <center>
        <div style="diplay: block;">
            <p><label style="padding-left: 8px; padding-right: 4px;">{{ form.name.name|title }}:</label><span>{{ form.name.as_widget }}</span></p>
            <p><label style="padding-left: 4px; padding-right: 8px;">{{ form.url.name|title }}:</label><span>{{ form.url.as_widget }}</span></p>
            <label style="display: block; margin-left: 20rem; padding-left: 4px; padding-right: 8px;">{{ form.featured.name|title }}: {{ form.featured.as_widget }}</label>
        </div>
    </center>
    {% if action == 'create' %}
            <input type="submit" name="create" value="Create" />
        </form>
    {% elif action == 'upcoming' %}
            <input type="submit" name="create" value="Create" />
        </form>
    {% elif action == 'edit' %}
            <input type="submit" name="save" value="Save" />
            <input type="submit" name="delete" value="Delete" />
        </form>
    {% elif action == 'change' %} 
            <input type="submit" name="save" value="Save" />
            <input type="submit" name="delete" value="Delete" />
        </form>
    {% endif %}
{% endblock %}