{% extends 'header.html' %}
<style>
    input[type='text'],
    input[type='text'],
    input[type='email'],    
    input[type='url'],
    input[type='checkbox']
    textarea {
        display: block;
    }
    textarea {
        display: block;
    }
    gallery checkbox{
        display: block;
    }    
</style>
{% block content %}
    <h1>Create Exhibit</h1>
    <form action="{% url 'create_exhibit' %}" method="POST">
        {% csrf_token %} {{ eform }} 
        <!-- {% block image %}
        {% endblock image %} -->
        <input type="submit" name="create" value="Create" />
    </form>
{% endblock %}