{% extends 'header.html' %}
{% block extrastyle %}
<style>
    input[type='text'],
    input[type='text'],
    input[type='email'],    
    input[type='url'],
    input[type='checkbox']
    textarea {
        display: block;
    }
    textarea {
        display: block;
    }
    #tag{
        position: absolute;
        margin-left: 150px;
    }
</style>
{% endblock %}
{% block content %}
    <h1>Create Exhibit</h1>
    <form action="{% url 'create_exhibit' %}" method="POST">
        {% csrf_token %} 
        {{ form }}
        {{ formset.management_form }}
        {{ image_form }}
        {{ tag_form}}
        
        
        <!-- {% block image %}
        {% endblock image %}
        {% block tag %}
        {% endblock %} -->
        
        <button type="submit" href="{% url 'images.html' }"/>
        <input type="submit" name="create" value="Create" />
    </form>
{% endblock %}