{% extends 'header.html' %}
{% block extrastyle %}
<style>
    input[type='text'],
    input[type='text'],
    input[type='email'],    
    input[type='url'],
    input[type='checkbox']
    textarea {
        display: block;
    }
    textarea {
        display: block;
    } 
</style>
{% endblock %}
{% block content %}
    <h1>Create Exhibit</h1>
    <form action="{% url 'edit_exhibit' exhibit.id %}" method="POST">
        {% csrf_token %} {{ form }}
        {% include 'image.html' %}
        <input type="submit" name="save" value="Save" />
        <input type="submit" name="delete" value="Delete" />
    </form>
{% endblock %}