{% extends 'header.html' %}
{% block extrastyle %}
<style>
    .row {
        display:flex;
    }
    .featured{
        color:rgb(0, 0, 0); 
        padding: .25rem;
        background-color: #add8e6; 
        margin: 1.75rem;
        margin-bottom: .25rem;
        border-radius: .625rem;
        font-size: .8rem;
    }
    .box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }
    .box img{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .2rem;
        margin-top: .3rem;
        height: 6.25rem; 
    }
    .box label{
        display: flex;
        margin-top: -1rem;
        text-align: center;
    }
</style>
{% endblock extrastyle %}
{% block content %}
    <h1>{{ action|title }} Exhibit</h1>
    {% if action == 'create' %}
        <form action="{% url 'create' %}" method="POST">
    {% else %}   
        <form action="{% url 'edit' exhibit.exhibit_id %}" method="POST">
    {% endif %} 
        <!-- <div class="column" style="size: 100%">
            
                <p>
                    <div style="display: block; width: auto; padding-left: 4px; padding-right: 4px;">
                        <label style="position: relative; padding-left: 4px; padding-right: 5px;">
                            Artist Name:
                        </label>
                        <span>
                            {{ form.artist_name.as_widget }}
                        </span>
                    </div>
                </p>
                <p>
                    <div style="display: inline-block; width: auto; padding-left: 4px; padding-right: 4px;">
                        <label for="form.email.as_widget" style="padding-left: 4px; padding-right: 5px;">{{ form.email.name|title }}:</label>{{ form.email.as_widget }}
                    </div>
                </p>
        </div>
        <br>
        <div style="display: inline-block">
            <label for="form.email.as_widget" style="padding-left: 4px; padding-right: 8px;">{{ form.website.name|title }}:</label>
            {{ form.website.as_widget }}
        </div> -->
        <div class="row">
            {% csrf_token %} 
            <div style="display: inline-block; width: auto;">
                {{ form.as_p }}
            </div>
            <div class="box">
                {% if action == "edit" %}
                    {% for image in exhibit.pics.all %}
                        <a href="{% url 'editImage' image.image_id %}" style="text-decoration: none;">
                            <div style="display: block;  padding: 5rem;">
                                {% if image.featured %}
                                    <span class="featured"><i>Featured Image</i></span>
                                {% endif %}
                                <br><img src="{{ image.url }}"/><br>
                                <label>{{ image.name }}</label>
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}

                {% if images != null %}
                    {% for image in images %}
                        {% if action == 'edit' %}
                            <a href="{% url 'editImage' image.image_id  %}">
                        {% else %}
                            <a href="{% url 'creatEImage' image.image_id  %}">
                        {% endif %}
                                <div style="display: block; margin-top: .3rem; margin-bottom: .3rem;">

                                    {% if image.featured %}
                                        <span class="featured"><i>Featured Image</i></span><br>
                                    {% endif %}
                                    <img src="{{ image.url }}"/><br>
                                    <label>{{ image.name }}</label>
                                </div>
                            </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
            {% if action == 'create' %}
                <a href="{% url 'createImage' %}"><input type="button"  value="Add Image" /></a>
            {% else %}
                <a href="{% url 'addImage' %}"><input type="button"  value="Add Image" /></a>
            {% endif %}
            
            {% if action == 'create' %}
                <input type="submit" name="create" value="Create" />
            {% else %}
                <input type="submit" name="save" value="Save" /><input type="submit" name="delete" value="Delete" />
            {% endif %}
        </form>
    
{% endblock %}