{% extends 'header.html' %}
{% block extrastyle %}
    <style>
        #border {
            border-radius: 1.563rem;
            border: .188rem solid #000000;
            padding: .625rem;
            box-shadow: .188rem .188rem 1.25rem .188rem #888888;
        }
        .box {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
        .comment-box {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(10rem, 1fr));
    </style>
{% endblock extrastyle %}

{% block content %}
<h2>{{ exhibit.exhibit_name }}</h2>
    <p>{{ exhibit.description }}</p>
    <br>
    <div class="box">
        {% for image in images %}
            <div style="display: block;  padding: 5rem;">
                <a href="{% url 'image' image.name %}">
                    <img src="{{ image.url }}" height="300" />
                </a>    
                <br>
                <h6 style="color: #ffffff; font-size: .875rem; margin-top: .5rem;">{{ image.name }}</h6>
            </div>
        {% endfor %}
    </div>
    <br>


<h3 style="color: #ffffff; font-size: 1.25rem">{{ exhibit.artist_name }}</h3>
    <p>{{ exhibit.bio }}</p>
    <hr>
    <h2 style="color: #ffffff;">Share Your Comments:</h2>
<div class="box">
    <form action="{% url 'featured' %}" method="POST">
        {% csrf_token %}
        <div style="display: block;">
            <label>{{ form.comment.name|title }}</label><br>
            <span>{{ form.comment.as_widget }}</span><br>
            <label>{{ form.author.name|title }}</label><br>
            <span>{{ form.author.as_widget }}</span>
            <input type="submit" value="Submit" />
        </div>
    </form>
    <hr style="margin-left: 5rem; margin-right: 1.25rem;">
    <div class="comment-box">
        <div style="display: inline-flex;">
            {% for comment in comments %}
                <div style="display: block; word-wrap: normal;">
                    <ul>
                        <li style="color: #ffffff; text-decoration: none; font-size: 1.25rem;">{{ comment.comment }}<br>{{ comment.author }}</li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}