{% extends 'header.html' %}
{% block extrastyle %}
<style>
    img{
        display: block;
        margin: .625rem auto 1.25rem;
        height: 37.5rem; 
        width: auto; 
        overflow: auto;
        background-color: rgb(0, 0, 0); 
        background-color: rgba(0,0,0,0.9);
    }
    img:hover{
        display: block;
        margin: .625rem auto 1.25rem;
        height: 66rem; 
        width: auto; 
        overflow: auto;
        box-shadow: .813rem .813rem 1.875rem .813rem #535353;
    }
</style>
{% endblock %}
{% block content %}
    <h1 style="font-size: 2.5rem; text-align: center;">{{ image.name | title }}</h1>
    <div>
        {% if image.url %}
            <img src="{{ image.url }}"/><br/>
        {% else %}
            <img src="media/{{ image.upload }}"/><br/>
        {% endif %}
</div>
{% endblock %}