{% extends 'header.html' %}

{% block content %}
<body class="main">
<section class="carousel" aria-label="Gallery">
    <div class="wrapper">
        <div class="sliding-background">
            <ol class="carousel_viewport">
                {% for image in carousel %}
                <li id="carousel_slide1" tabindex="0" class="carousel_slide">
                    <div class="carousel_snapper">
                        <a href="{{ image.url }}" class="carousel_prev">Go to last slide</a>
                        <label>{{ image.name }}</label>
                        <img src="url({{ image.url }});"/>
                        <a href="{{ image.url }}" class="carousel_next">Go to next slide</a>
                    </div>
                </li>
                {% endfor %}
            </ol>
        </div>
        <p>{{ featured.description }}</p>
    </div>
</section>
</body>
{% endblock %}