{% extends 'header.html' %}
{% load static %}
{% block extrastyle %}
    <style>
        .row{
            display: flex;
            margin-left: 50px;
            margin-right: auto;
            flex-wrap: wrap;
        }
        .col{
            flex: 33.333%;
            padding: 20px;
            display: block;

        }
        section{
            padding: 10px;
        }
        img{
            display: block;
            height: 35rem;
            padding: 8px;
        }
        label{
            margin: 0.5rem 0.5rem;
        }
    </style>
{% endblock %}

{% block content %}
    <div style="padding-top: 3.5%;">
        <h1>Open Studios</h1>
        <div class="col"></div>
            <div class="row">
            {% for image in images %}
                <section>
                    <center>
                        <br>
                        <img src="{{ image.url }}"/>
                        <label>{{ image.name }}</label>
                    </center>
                </section>
            {% endfor %}
            </div>
            <div class="tags">
                {% for tag in featured.tags.all %}
                <span style="color: black; background-color: lightblue; margin-left: 4px">
                    {{ tag.name }}
                </span>
                {% endfor %}
            </div>
            <p>{{ featured.description }}</p>
        </div>
    </div>
{% endblock %}