{% extends 'header.html' %}
{% block tag %}
    <h1>{{ action|title }} Tag</h1>
    {% if action == 'create' %}
        <form action="{% url 'create_tag' %}" method="POST">
    {% else %}
        <form action="{% url 'edit_tag' tag.id %}" method="POST">
    {% endif %}
    {% csrf_token %} {{ form }}
    {% if action == 'create' %}
            <input type="submit" name="create" value="Create" />
        </form>
    {% else %}
            <input type="submit" name="save" value="Save" />
            <input type="submit" name="delete" value="Delete" />
        </form>
    {% endif %}
{% endblock %}