{% extends 'header.html' %}
{% block extrastyle %}
<style>
    .row {
        display:flex;
    }
    .column {
        display: flex;
        padding: .063rem;
        margin-right: auto;
        margin-left: auto;
    }
    a.card:link {
        margin-left: 2%;
        margin-right: 3%;
        margin-bottom: 1.25rem;
        width: 95%;
        border-radius: 1.563rem;
        border: .188rem solid #000000;
        padding: .625rem;
        box-shadow: .063rem .063rem  .625rem .063rem  #808080;
        text-decoration: none;
        background-color: #ffffff;
        color: #000000 !important;
        display: inline-block;

    }
    a.card:hover{
        background-color: #0000ff;
        color: #87cefa !important;
        transform: scale(1.01, 1.01);
        box-shadow: .813rem .813rem 1.875rem .813rem #535353;
    }
    .card:hover p, .card:hover .title, .card:hover .click{
        color: #87cefa !important;
    }
    .column img{
        height: 18rem;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0rem;
        padding-top: 0rem;
        object-fit: scale-down;
    }
    .title{
        margin: -1.6rem;
        position: absolute;
    }
    .tags{
        color:rgb(0, 0, 0); 
        padding: .25rem;
        background-color: #add8e6; 
        margin-left: .25rem; 
        border-radius: .625rem;
    }
    h1{
        color: #0000ff;
    }
    b{
        font-size: 2rem;
    }
    p{
        color:#000000 !important;
        font-style: normal !important;
    }
    .card label{
        color: rgb(0, 0, 0) !important;
        padding-bottom: 0rem;
        margin-bottom: 0rem;
    }
    .click{
        color: #ffffff; 
        float: right; 
        font-size: 2.5rem; 
        margin-right: 2.5rem;
    }
</style>
{% endblock extrastyle %}

{% block content %}
    <div>
        <h1 style="text-align: center; font-size: 2.5rem; margin-bottom: 3.5rem;">Upcoming Exhibits</h1>
        {% for message in messages %}
            <center style= "text-align: center; color: rgb(0, 195, 255); font-size: 3.5rem;">[ {{ message }} ]</center>
            <br>
        {% endfor %}
        {% for exhibit in exhibits %}
        <div style="display: flex;">
            <a class="card" href="{% url 'edit'  exhibit.exhibit_id %}">
                <div style="margin-left: 1.5rem;">
                    <p>{{ exhibit.description }}</p>
                    <div class="row">
                        {% for image in images %}
                            {% if image.collection == exhibit.exhibit_id %}
                                <div class="column">
                                        <label class="title">{{ image.name }}</label><br><br>
                                        <img src="{{ image.url }}" alt="image missing"/>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <br>
                    <div style="padding: .625rem">
                        <p><b>{{ exhibit.exhibit_name }} -</b>
                            {% for tag in exhibit.tags.all %}
                                <span class="tags"><label> {{ tag.name }} </label></span>            
                            {% endfor %}
                            <span class="click">CLICK TO EDIT</span>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}