{% extends 'header.html' %}

{% block content %}
<style>
    #border {
      border-radius: 25px;
      border: 3px solid black;
      padding: 10px;
      box-shadow: 3px 3px 20px 3px #888888;
    }
</style>
<h2><u>Exhibits</u></h2>
{% for exhibit in exhibits %}
<div id="border">
    <p>{{ exhibit.description }}</p>
    <br>
    {% for image in exhibit.images.all %}
        {% if image.id != 4 %}
            <h6>image.name</h6>
            <br>
            <img src="{{ image.url }}" height="200" />
        {% endif %}
    {% endfor %}
    <br>
    <h3>{{ exhibit.exhibit_name }} - </h3>
    <div>
        {% for tag in exhibit.tags.all %}
            {{ tag.name }}
        {% endfor %}
    </div>
</div>
{% endfor %}

{% endblock %}