<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studios</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extrastyle %}
    {% endblock extrastyle %}
    <nav class="nav">
        <a class="nav-org" href="{% url 'home' %}">Open Studios</a>
        <div class="subnav">
            <button class="subnavbtn">Exhibits<i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="{% url 'create' %}">Create</a>
                <a href="{% url 'featured' %}">Featured</a>
                <a href="{% url 'upcoming' %}">Upcoming</a>
            </div>

        </div>
        <a href="{% url 'about' %}">About</a>
    </nav>
</head>
<body class="hdr">
    {% block content %}
    {% endblock %}
</body>
</html>


    
