/* Navigation for header.html */
.nav{
    /* position: fixed; */
    border-radius: .313rem;
    width: fit-content;
    height: auto;
    overflow: hidden;
    background-color: #444;
}
.nav a{
    color: #0000ff !important;
    float: left;
    text-align: center;
    font-size: 1rem;
    padding: .625rem .75rem;
    text-decoration: none;
}
.nav h1{
    display: inline-block;
    padding-inline-start: 30%;
    font-weight: bolder;
    font-size: 2rem;
    color: blue !important;
}
.nav-org{
    display: inline-block;
    color: #0000ff !important;
    padding-top: 8rem;
    padding-bottom: 8rem;
    margin-right: 1rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
}
.subnav{    
    float: left;
    overflow: hidden;
}
.subnavbtn{
    font-size: 1.375rem !important;
    border: none;
    outline: none;
    color: #0000ff !important;
    padding: .625rem 0rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.nav a:hover, .subnav:hover .subnavbtn{
    background-color: #111;
    border-radius: .313rem;
    color: #0077ff;
}
.subnav-content{
    display: none;
    position: absolute;
    border-style: solid;
    border-color: #111 !important;
    border-radius: .938rem;
    top: 3.875rem !important;
    left: 3.75rem;
    width: auto;
    z-index: 1;
}
.subnav-content a{
    border-radius: .313rem;
    float: left;
    margin: 0rem;
    color: #0000ff;
}
.subnav-content a:focus, .subnav-content a:hover{
    background-color: #111;
    color: #0000ff;
}
.subnav:hover .subnav-content{
    display: block;
    border-radius: .313rem;
    background-color: #444;
    color: #0077ff;
    z-index: 1;
}
.nav-org:focus,.nav-org:hover{
    color: #0077ff;
}

.hdr{
    background-color: #000000 !important;
    min-height: 100%;
    min-width: 100%;
    padding: 0.5em 0.5em 0.5em;
}
.hdr p{
    color: #808080;
    font-size: 1.375rem;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
.hdr a, .hdr label, .hdr form{
    color: #808080;
    font-size: 1.375rem;
    font-family:Arial, Helvetica, sans-serif;
}
.hdr h1{
    text-align: center;
    font-weight: bolder;
    margin: 0;
    color: #0000ff;
    text-align: center; 
    font-size: 2.5rem; 
    margin-bottom: .938rem;
}