/* Navigation for header.html */
.inline {
	display: flex;
}
.nav {
	border-radius: 0.313rem;
	width: fit-content;
	height: 3rem;
	overflow: hidden;
	background-color: #444;
	font-weight: bold;
}
.nav a {
	color: #0000ff !important;
	float: left;
	text-align: center;
	font-size: 2rem;
	padding: 0.625rem 0.75rem;
	text-decoration: none;
}
.nav-org {
	display: inline-block;
	color: #0000ff !important;
	padding-top: 6rem;
	padding-bottom: 6rem;
	font-size: 2rem;
	line-height: inherit;
	white-space: nowrap;
}
.user {
	postition: relative;
	color: #0000ff !important;
	margin-top: -0.5rem;
	right: auto;
	line-height: inherit;
	white-space: nowrap;
}
.subnav {
	float: left;
	overflow: hidden;
}
.subnavbtn {
	font-size: 1.31rem !important;
	border: none;
	outline: none;
	color: #0000ff !important;
	padding: 0.6rem 0.3625rem;
	background-color: inherit;
	font-family: inherit;
	font-weight: bold;
	margin: 0;
	display: fit-content;
}
.nav a:hover,
.subnav:hover .subnavbtn {
	background-color: #111;
	border-radius: 0.313rem;
	color: #0077ff;
}
.subnav-content-user {
	display: none;
	position: absolute;
	border-style: solid;
	border-color: #111 !important;
	border-radius: 0.938rem;
	top: 3.8rem !important;
	left: 3.875rem;
	width: auto;
	z-index: 1;
}
.subnav-content-exhibit {
	display: none;
	position: absolute;
	border-style: solid;
	border-color: #111 !important;
	border-radius: 0.938rem;
	top: 3.8rem !important;
	left: 16rem;
	width: auto;
	z-index: 1;
}
.subnav-content-user a {
	border-radius: 0.313rem;
	float: left;
	color: #0000ff;
}
.subnav-content-exhibit a {
	border-radius: 0.313rem;
	float: left;
	color: #0000ff;
}
.subnav-content-user a:focus,
.subnav-content-user a:hover {
	background-color: #111;
	color: #0000ff;
}
.subnav-content-exhibit a:focus,
.subnav-content-exhibit a:hover {
	background-color: #111;
	color: #0000ff;
}
.subnav:hover .subnav-content-user {
	display: block;
	border-radius: 0.313rem;
	background-color: #444;
	color: #0077ff;
	z-index: 1;
}
.subnav:hover .subnav-content-exhibit {
	display: block;
	border-radius: 0.313rem;
	background-color: #444;
	color: #0077ff;
	z-index: 1;
}
.nav-org:focus,
.nav-org:hover {
	color: #0077ff;
}

.hdr {
	background-color: #000000 !important;
	min-height: 100%;
	min-width: 100%;
	padding: 0.3em 0.3em 0.3em;
}
.hdr p {
	color: #808080;
	font-size: 1.375rem;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
.hdr a,
.hdr label,
.hdr form {
	color: #808080;
	font-size: 1.375rem;
	font-family: Arial, Helvetica, sans-serif;
}
.hdr h1 {
	position: static;
	text-align: center;
	font-weight: bolder;
	margin: 0;
	color: #0000ff;
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 0.938rem;
}
.triangle {
	width: 0;
	height: 0;
	border-left: 0.625rem solid transparent;
	border-right: 0.625rem solid transparent;
	border-top: 0.625rem solid #0000ff;
	margin-top: 0.625rem;
	margin-left: 0.2rem;
	float: right;
}
.dot {
	margin: 1rem 0.7rem;
	height: 15px;
	width: 15px;
	background-color: #0000ff;
	border-radius: 50%;
	display: inline-block;
	float: left;
}
