/* Navigation for header.html */
.nav{
    /* position: fixed; */
    border-radius: 5px;
    width: fit-content;
    height: auto;
    overflow: hidden;
    background-color: #444;
}
.nav a{
    color: blue !important;
    float: left;
    text-align: center;
    font-size: 16px;
    padding: 10px 12px;
    text-decoration: none;
}
.nav h1{
    display: inline-block;
    padding-inline-start: 30%;
    font-weight: bolder;
    font-size: xx-large;
    color: blue !important;
}
.nav-org{
    display: inline-block;
    color: blue !important;
    padding-top: 8px
    padding-bottom: 8px;
    margin-right: 1rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
}
.subnav{    
    float: left;
    overflow: hidden;
}
.subnavbtn{
    font-size: 20px !important;
    border: none;
    outline: none;
    color: blue !important;
    padding: 10px 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.nav a:hover, .subnav:hover .subnavbtn{
    background-color: #111;
    border-radius: 5px;
    color: #0077ff;
}
.subnav-content{
    display: none;
    position: absolute;
    border-style: solid;
    border-color: #111 !important;
    border-radius: 15px;
    top: 62px !important;
    left: 60px;
    width: auto;
    z-index: 1;
}
.subnav-content a{
    float: left;
    margin: 0px;
    color: blue;
}
.subnav-content a:focus, .subnav-content a:hover{
    background-color: #111;
    border-radius: 5px;
    color: blue;
}
.subnav:hover .subnav-content{
    display: block;
    border-radius: 5px;
    background-color: #444;
    color: #0077ff;
    z-index: 1;
}
.nav-org:focus,.nav-org:hover{
    color: #0077ff;
}

.hdr{
    background-color: black !important;
    min-height: 100%;
    min-width: 100%;
    padding: 0.5em 0.5em 0.5em;
}
.hdr p{
    color: gray;
    font-size: 22px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
.hdr a, .hdr label, .hdr form{
    color: gray;
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
}
.hdr h1{
    text-align: center;
    font-weight: bolder;
    margin: 0;
    color: blue;
    text-align: center; 
    font-size: 40px; 
    margin-bottom: 15px;
}